# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
- Popular Languages for Data Science
- Common Libraries used in Data Science
- Data Science Tools
- Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seabor

| Data Science Tools           |
|------------------------------|
| Jupyter Notebook             |
| RStudio                      |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#  This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
time_min = 200
time_hrs = 200/60
print(time_hrs)

3.3333333333333335

## Author
Edem Bleppony